html{
    margin-top: 0;
    color: white;
    background-color:#111;
    width:1280px;
    margin-left:auto;
    margin-right:auto;
}

body{
    margin:0;
}

#log{
    color:white;
}

.info{
    display:flex;
}

.info > div{
    width:20em;
    text-overflow:hidden;
}
